<template>
    <div class="online__app">
        <div class="online__app__payment" v-if="show_payment">
            <form method="POST" action="https://yoomoney.ru/quickpay/confirm.xml">
                <p>Стоимость дополнительных попыток фиксирована. При этом 25% от вырученной суммы будет переведено в фонд основного приза.</p>
                <p>Начисление попыток будет произведено автоматически, но не позднее 1 часа с момента получения средств.</p>
                <p>Варианты зачисления:</p>
                <div class="online__app__payment__options">
                    <div @click="selectPaymentOption(payment_option)" class="online__app__payment__option" v-bind:class="(payment_option.id === selected_payment_option)?'selected':''" v-for="payment_option in payment_options">
                        <div class="online__app__payment__option-title">{{ payment_option.name }}</div>
                        <div class="online__app__payment__option-description">{{ payment_option.desc }}</div>
                        <div class="online__app__payment__option-sum">{{ payment_option.text_amount }}</div>
                    </div>
                </div>
                <p>Нажимая кнопку «Перевести», вы соглашаетесь с тем, что покупка дополнительных попыток не гарантирует вам победы, и вы совершаете добровольное пожертвование.</p>
                <input type="hidden" name="receiver" value="410013828379372">
                <input type="hidden" name="successURL" value="https://rusrul.ru/online/game">
                <input type="hidden" name="formcomment" v-bind:value="'Онлайн-«Русская рулетка»: дополнительные попытки для '+player_data.name">
                <input type="hidden" name="short-dest" v-bind:value="'Онлайн-«Русская рулетка»: дополнительные попытки для '+player_data.name">
                <input type="hidden" name="label" v-bind:value="player_data.player_id">
                <input type="hidden" name="quickpay-form" value="donate">
                <input type="hidden" name="targets" v-bind:value="'Онлайн-«Русская рулетка»: игрок ' + player_data.name">
                <input type="hidden" name="sum" v-bind:value="selected_payment_sum" data-type="number">
                <input type="hidden" name="comment" v-bind:value="'Дополнительные '+selected_takes+' попыток в игре.'">
                <input type="hidden" name="need-fio" value="false">
                <input type="hidden" name="need-email" value="false">
                <input type="hidden" name="need-phone" value="false">
                <input type="hidden" name="need-address" value="false">
                <input type="submit" class="online__app__button" value="Перевести">
                <a @click="hidePaymentForm" class="online__app__button" style="display: block;width: 50%;margin: 0.5rem auto;text-align: center;">Отменить</a>
            </form>
        </div>
        <div class="online__app__no-takes" v-if="player_takes <= 0 && player_data">
            <div class="online__app__no-takes__inner">
                <h3>Ой, попытки закончились! =(</h3>
                <p>Нам жаль, но отведённые вам попытки на игру успешно израсходованы.</p>
                <p>Вы можете купить попытки самостоятельно, если пожелаете, либо просто дождаться окончания игры для просмотра результатов.</p>

                <a @click="getPaymentForm" class="online__app__button online__app__player__takes-buy">Купить попытки</a>
            </div>
        </div>

        <canvas class="online__app__congrats" v-if="(current_round === 5 && !game_started && round_passed)"></canvas>
        <div class="online__app__first">
            <div class="online__app__tree">
                <div class="online__app__tree__item" v-bind:class="(current_round == key && game_started) ? 'current' : ((current_round > key) ? 'passed' : ((current_round == key && round_passed) ? 'passed' : ((current_round == key && !round_passed) ? 'failed' : '')))" v-for="(award, key) in round_awards">
                    <div class="online__app__tree__item_round">Раунд {{ key }}</div>
                    <div class="online__app__tree__item_award">{{ award | convertNumber }}</div>
                </div>
            </div>
            <div class="online__app__fund" v-if="top_players_shown">
                <div class="online__app__fund__header">Текущий главный приз:</div>
                <div class="online__app__fund__item"><span><number ref="prizeFund" :from="animateFundFrom" :format="formatNumber" animationPaused :to="current_fund" :duration="5" easing="Power4.easeOut" @complete="completeAnimation"/></span> ₽</div>
            </div>
            <div v-if="player_data">
                <div class="online__app__top" v-if="top_players_shown">
                    <div class="online__app__top__header">Лидеры онлайн-игры</div>
                    <div class="online__app__top__item" v-bind:class="((i + 1) === player_stats.position) ? 'current' : ''" v-for="(top_player, i) in top_players">
                        <div class="online__app__top__item_pos">{{ i + 1 }}</div>
                        <div class="online__app__top__item_name"><img :src="top_player.avatar" class="online__app__top__item_name-img"><span class="online__app__top__item_name-inner">{{ top_player.name }}</span></div>
                        <div class="online__app__top__item_pts" v-if="(i + 1) === player_stats.position">{{ player_stats.points | convertNumber }}</div>
                        <div class="online__app__top__item_pts" v-else># # # # #</div>
                    </div>
                </div>
                <div class="online__app__top__item current fall" v-if="player_stats.position > 5">
                    <div class="online__app__top__item_pos">{{ player_stats.position }}</div>
                    <div class="online__app__top__item_name"><img :src="player_data.avatar" class="online__app__top__item_name-img"><span class="online__app__top__item_name-inner">{{ player_stats.name }}</span></div>
                    <div class="online__app__top__item_pts">{{ player_stats.points | convertNumber }}</div>
                </div>
            </div>
        </div>
        <div class="online__app__revolver" v-bind:class="[(mex_started || waiting_for_result) ? 'red' : '']">
            <div class="online__app__revolver__hatch-base online__app__revolver__hatch-base_1" v-bind:class="[(mex_started || waiting_for_result) ? 'red' : '']" :data-frame="hatch_states[0]">&nbsp;</div>
            <div class="online__app__revolver__hatch-base online__app__revolver__hatch-base_2" v-bind:class="[(mex_started || waiting_for_result) ? 'red' : '']" :data-frame="hatch_states[1]">&nbsp;</div>
            <div class="online__app__revolver__hatch-base online__app__revolver__hatch-base_3" v-bind:class="[(mex_started || waiting_for_result) ? 'red' : '']" :data-frame="hatch_states[2]">&nbsp;</div>
            <div class="online__app__revolver__hatch-base online__app__revolver__hatch-base_4" v-bind:class="[(mex_started || waiting_for_result) ? 'red' : '']" :data-frame="hatch_states[3]">&nbsp;</div>
            <div class="online__app__revolver__hatch-base online__app__revolver__hatch-base_5" v-bind:class="[(mex_started || waiting_for_result) ? 'red' : '']" :data-frame="hatch_states[4]">&nbsp;</div>
            <div class="online__app__revolver__hatch-base online__app__revolver__hatch-base_6" v-bind:class="[(mex_started || waiting_for_result) ? 'red' : '']" :data-frame="hatch_states[5]">&nbsp;</div>
            <div @click="chooseHatch(1)" v-bind:disabled="!can_choose_hatch" class="online__app__revolver__hatch online__app__revolver__hatch_1" v-bind:class="light_classes[light_states[0]]">&nbsp;</div>
            <div @click="chooseHatch(2)" v-bind:disabled="!can_choose_hatch" class="online__app__revolver__hatch online__app__revolver__hatch_2" v-bind:class="light_classes[light_states[1]]">&nbsp;</div>
            <div @click="chooseHatch(3)" v-bind:disabled="!can_choose_hatch" class="online__app__revolver__hatch online__app__revolver__hatch_3" v-bind:class="light_classes[light_states[2]]">&nbsp;</div>
            <div @click="chooseHatch(4)" v-bind:disabled="!can_choose_hatch" class="online__app__revolver__hatch online__app__revolver__hatch_4" v-bind:class="light_classes[light_states[3]]">&nbsp;</div>
            <div @click="chooseHatch(5)" v-bind:disabled="!can_choose_hatch" class="online__app__revolver__hatch online__app__revolver__hatch_5" v-bind:class="light_classes[light_states[4]]">&nbsp;</div>
            <div @click="chooseHatch(6)" v-bind:disabled="!can_choose_hatch" class="online__app__revolver__hatch online__app__revolver__hatch_6" v-bind:class="light_classes[light_states[5]]">&nbsp;</div>
        </div>
        <div class="online__app__player">
            <div class="online__app__player__takes" v-if="player_data">
                <div class="online__app__player__takes-count">Попыток: <span @click="$refs.prizeFund.restart()">{{ player_takes }}</span></div>
                <a @click="getPaymentForm" class="online__app__button online__app__player__takes-buy">Купить попытки</a>
            </div>
            <div class="online__app__player__card" v-if="player_data">
                <div class="online__app__player__name">{{ player_data.name }}</div>
                <div class="online__app__player__avatar" v-bind:style="{backgroundImage: 'url('+player_data.avatar+')'}">&nbsp;</div>
                <div class="online__app__player__winnings">{{ current_money }}</div>
            </div>
            <div class="online__app__settings">
                <div class="online__app__button" @click="toggleMute">{{ (mute_audio) ? 'Включить звук в игре' : 'Выключить звук в игре' }}</div>
            </div>
            <div class="online__app__actions">
                <button class="online__app__button" @click="startGame" v-if="!game_started && actions_available && player_takes > 0">Новая игра</button>
                <template v-if="game_started && actions_available">
                    <button class="online__app__button" @click="startMex" v-if="can_start_mex && !mex_started">Запустить механизм</button>
                    <button class="online__app__button" @click="stopMex" v-if="mex_started">Остановить механизм</button>
                    <template v-if="chosen_hatch > 0 && !round_passed && !waiting_for_result">
                        <button class="online__app__button" @click="giveMeAResult">Открыть люки: {{ current_round }} из 6</button>
                    </template>
                    <template v-if="round_passed && current_round < 5">
                        <button class="online__app__button" @click="startNextRound">Играем дальше!</button>
                        <button class="online__app__button" @click="takeTheMoney">Забрать баллы!</button>
                    </template>
                </template>
                <div class="online__app__actions__hint" v-if="hint">{{ hint }}</div>
            </div>
        </div>
    </div>
</template>

<script>
    let sfx = null;
    let bg = null;

    export default {
        name: "RusRulGame",

        props: {
            session_id: {
                type: String,
                default: "",
                required: true
            }
        },

        data() {
            return {
                current_round: 0,
                current_money: 0,
                top_players_shown: false,
                top_players: null,
                game_started: false,
                mex_started: false,
                can_start_mex: false,
                can_choose_hatch: false,
                animation_started: false,
                waiting_for_result: false,
                animation_waiting_started: false,
                round_passed: false,
                actions_available: true,
                chosen_hatch: 0,
                round_awards: {
                    1: 5000,
                    2: 25000,
                    3: 50000,
                    4: 100000,
                    5: 1000000
                },
                light_states: [ 1, 1, 1, 1, 1, 1 ],
                hatch_states: [ 1, 1, 1, 1, 1, 1 ],
                current_hatches: [ 0, 0, 0, 0, 0, 0 ],
                light_classes: [ 'off', '', 'red', 'white' ],
                animation_frame: 0,
                player_data: null,
                hint: '',
                mute_audio: false,
                player_stats: null,
                player_takes: 0,
                show_payment: false,
                selected_payment_option: 1,
                selected_payment_sum: 100.00,
                selected_takes: 100,
                animateFundFrom: 2000,
                current_fund: 2000,
                payment_options: [
                    {
                        'id': 1,
                        'name': '100 попыток',
                        'desc': 'Добавляет дополнительные 100 игровых попыток',
                        'amount': 100.00,
                        'text_amount': '100 ₽',
                        'takes': 100,
                    },
                    {
                        'id': 2,
                        'name': '250 попыток',
                        'desc': 'Добавляет дополнительные 250 игровых попыток',
                        'amount': 200.00,
                        'text_amount': '200 ₽',
                        'takes': 250,
                    },
                    {
                        'id': 3,
                        'name': '500 попыток',
                        'desc': 'Добавляет дополнительные 500 игровых попыток',
                        'amount': 300.00,
                        'text_amount': '300 ₽',
                        'takes': 500,
                    }
                ]
            }
        },

        mounted() {
            axios.post('/online/game/api/get_player', {sessid: this.session_id})
                .then(response => {
                    if (response.data.status === 'success') {
                        this.player_data = response.data.data;
                        this.player_takes = response.data.data.takes;
                    }
                });

            this.getTopPlayers();
            let obj = this;
            setInterval(function() {
                obj.getTopPlayers()
            }, 20000);
            setTimeout(function() {
                obj.$refs.prizeFund.play();
            }, 500);
        },

        methods: {
            selectPaymentOption(payment) {
                this.selected_payment_option = payment.id;
                this.selected_payment_sum = payment.amount;
                this.selected_takes = payment.takes;
            },
            completeAnimation() {
                this.animateFundFrom = this.current_fund;
            },
            formatNumber(number, withCurrency = false) {
                let millions = Math.floor(number / 1000000);
                let thousands = Math.floor((number - millions * 1000000) / 1000);
                let other = Math.floor(number % 1000);

                let str = '';
                if (millions > 0) {
                    str += millions + ' ';
                }
                if ((thousands >= 0 && millions > 0) || thousands > 0) {
                    if (millions > 0) {
                        if (thousands >= 100) {
                            str += thousands + ' ';
                        }
                        else if (thousands >= 10 && thousands <= 99) {
                            str += '0' + thousands + ' ';
                        }
                        else {
                            str += '00' + thousands + ' ';
                        }
                    } else {
                        str += thousands + ' ';
                    }
                }
                if (other >= 0) {
                    if ((millions > 0 && thousands >= 0) || thousands > 0) {
                        if (other >= 100) {
                            str += other;
                        }
                        else if (other >= 10 && other <= 99) {
                            str += '0' + other;
                        }
                        else {
                            str += '00' + other;
                        }
                    } else {
                        str += other;
                    }
                }

                if (withCurrency) { str += ' ₽'; }

                return str;
            },
            getPaymentForm() {
                this.show_payment = true;
            },
            hidePaymentForm() {
                this.show_payment = false;
            },
            getTopPlayers() {
                axios.post('/online/game/api/top', {sessid: this.session_id})
                    .then(response => {
                        this.top_players_shown = true;
                        this.current_fund = response.data.prize_fund;
                        if (this.$refs.prizeFund) { this.$refs.prizeFund.play(); }
                        this.top_players = response.data.top10;
                        this.player_stats = response.data.player_stats;
                        this.player_takes = response.data.player_stats.takes;
                    });
            },
            toggleMute() {
                if (!this.mute_audio) { this.mute_audio = true; }
                else { this.mute_audio = false; }
            },
            startGame() {
                axios.post('/online/game/api/ping', {
                    player: this.player_data.player_id,
                    sessid: this.player_data.session_data
                }).then(response => {
                }).catch(error => {
                    //window.location.href = '/online';
                });

                if (bg) { bg.pause(); }
                if (sfx) { sfx.pause(); }
                sfx = new Audio('/files/online/rr_lets_play.ogg');
                sfx.volume = 0.5;
                if (!this.mute_audio) { sfx.play(); }
                let obj = this;
                this.setHatchesStates(1, 1, 1, 1, 1, 1);
                setTimeout(() => { obj.setLights(3, 3, 3, 3, 3, 3); obj.can_start_mex = true; obj.hint = 'Приведите в действие механизм…'; }, 2000);
                this.current_round = 1;
                this.current_money = 0;
                this.game_started = true;
                this.round_passed = false;
                this.waiting_for_result = false;
            },
            startNextRound() {
                axios.post('/online/game/api/ping', {
                    player: this.player_data.player_id,
                    sessid: this.player_data.session_data
                }).then(response => {
                }).catch(error => {
                    window.location.href = '/online';
                });

                this.current_round++;
                this.round_passed = false;
                this.setHatchesStates(1, 1, 1, 1, 1, 1);
                bg.pause();
                if (this.current_round > 4) {
                    bg = new Audio('/files/online/rr_final.ogg');
                } else {
                    bg = new Audio('/files/online/rr_round.ogg');
                }
                bg.volume = 0.65;
                if (!this.mute_audio) { bg.play(); }
                this.setLights(1, 1, 1, 1, 1, 1);
                let obj = this;
                setTimeout(() => {
                    obj.setLights(3, 3, 3, 3, 3, 3);
                    this.can_start_mex = true;
                    sfx = new Audio('/files/online/rr_get_ready.ogg');
                    sfx.volume = 0.7;
                    if (!obj.mute_audio) { sfx.play(); }
                    obj.hint = 'Приведите в действие механизм…';
                }, 6000);
            },
            takeTheMoney() {
                axios.post('/online/game/api/ping', {
                    player: this.player_data.player_id,
                    sessid: this.player_data.session_data
                }).then(response => {
                }).catch(error => {
                    window.location.href = '/online';
                });

                this.setHatchesStates(1, 1, 1, 1, 1, 1);
                this.setLights(3, 3, 3, 3, 3, 3);
                bg.pause();
                bg = new Audio('/files/online/rr_closing.ogg');
                bg.volume = 0.5;
                if (!this.mute_audio) { bg.play(); }
                this.game_started = false;
                let obj = this;
                let curDate = new Date();
                let ctrlDateStr = curDate.getUTCFullYear() + '' + ((curDate.getUTCMonth() < 10) ? '0' : '') + (curDate.getUTCMonth() + 1) + ((curDate.getUTCDate() < 10) ? '0' : '') + curDate.getUTCDate() + ((curDate.getUTCHours() < 10) ? '0' : '') + curDate.getUTCHours() + ((curDate.getUTCMinutes() < 10) ? '0' : '') + curDate.getUTCMinutes();
                axios.post('/online/game/api/complete_game', {
                    money: this.current_money,
                    result: 'win',
                    win_money: this.current_money,
                    lose_money: 0,
                    player: this.player_data.player_id,
                    sessid: this.player_data.session_data,
                    checkword: md5(md5(this.current_money + '__win__+_' + this.current_money + '_0~' + this.player_data.player_id) + '___' + md5(this.player_data.player_id + '_0_' + this.current_money + '_win_' + this.current_money))
                }).then(response => {
                    obj.player_takes--;
                });
            },
            startMex() {
                axios.post('/online/game/api/ping', {
                    player: this.player_data.player_id,
                    sessid: this.player_data.session_data
                }).then(response => {
                }).catch(error => {
                    window.location.href = '/online';
                });

                this.mex_started = true;
                this.animation_started = true;
                this.can_start_mex = false;
                this.animation_frame = 0;
                this.animateLights(this.animation_frame);
                bg = new Audio('/files/online/rr_mech_start.ogg');
                bg.volume = 0.35;
                if (!this.mute_audio) { bg.play(); }
                this.shuffleHatches();
                this.hint = 'Остановите механизм, как только захотите…';
            },
            stopMex() {
                axios.post('/online/game/api/ping', {
                    player: this.player_data.player_id,
                    sessid: this.player_data.session_data
                }).then(response => {
                }).catch(error => {
                    window.location.href = '/online';
                });

                bg.pause();
                bg = new Audio('/files/online/rr_mech_stop.ogg');
                bg.volume = 0.35;
                if (!this.mute_audio) { bg.play(); }
                this.animation_started = false;
                this.actions_available = false;
                let obj = this;
                this.hint = '';
                setTimeout(() => {
                    obj.setLights(0, 0, 0, 0, 0, 0);
                }, 250);
                setTimeout(() => {
                    obj.setLights(3, 3, 3, 3, 3, 3);
                    obj.mex_started = false;
                    obj.can_choose_hatch = true;
                    obj.actions_available = true;
                    obj.hint = 'Выберите любое из шести игровых мест, щёлкнув по люку. Вы можете изменить решение до нажатия на кнопку «Открыть люки».';
                    sfx = new Audio('/files/online/rr_mech_fixed.ogg');
                    sfx.volume = 0.75;
                    if (!obj.mute_audio) { sfx.play(); }
                }, 1750);
            },
            setLights(light1, light2, light3, light4, light5, light6) {
                this.light_states = [light1, light2, light3, light4, light5, light6];
            },
            setHatchesStates(hatch1, hatch2, hatch3, hatch4, hatch5, hatch6) {
                this.hatch_states = [hatch1, hatch2, hatch3, hatch4, hatch5, hatch6];
            },
            shuffleHatches() {
                let obj = this;
                if (this.mex_started) {
                    this.current_hatches = [0, 0, 0, 0, 0, 0];
                    setTimeout(() => {
                        let cnt = 0;
                        do {
                            cnt = 0;
                            obj.current_hatches[Math.round(5 * Math.random())] = 1;
                            for (let i = 0; i < obj.current_hatches.length; i++) {
                                cnt += obj.current_hatches[i];
                            }
                        } while (cnt !== obj.current_round);
                        obj.shuffleHatches();
                    }, 250);
                }
            },
            chooseHatch(number) {
                axios.post('/online/game/api/ping', {
                    player: this.player_data.player_id,
                    sessid: this.player_data.session_data
                }).then(response => {
                }).catch(error => {
                    window.location.href = '/online';
                });

                if (this.can_choose_hatch === true) {
                    this.chosen_hatch = number;
                    this.setLights(1, 1, 1, 1, 1, 1);
                    this.light_states[this.chosen_hatch - 1] = 3;
                }
            },
            animateLights(animation_frame) {
                let obj = this;
                if (this.animation_started) {
                    setTimeout(() => {
                        let animationFrames = {
                            0: [3, 0, 0, 0, 0, 0],
                            1: [3, 0, 0, 0, 0, 0],
                            2: [3, 3, 0, 0, 0, 0],
                            3: [3, 3, 0, 0, 0, 3],
                            4: [3, 3, 3, 0, 0, 3],
                            5: [3, 3, 3, 0, 0, 3],
                            6: [0, 3, 3, 3, 0, 3],
                            7: [0, 3, 3, 3, 0, 3],
                            8: [0, 0, 3, 3, 3, 0],
                            9: [0, 0, 3, 3, 3, 0],
                            10: [0, 0, 0, 3, 3, 0],
                            11: [0, 0, 0, 3, 3, 0],
                            12: [0, 0, 0, 0, 3, 0],
                            13: [0, 0, 0, 0, 3, 0],
                            14: [0, 0, 0, 0, 3, 0],
                        };

                        if (obj.current_round === 1) {
                            animationFrames = {
                                0: [2, 1, 1, 1, 1, 1],
                                1: [1, 2, 1, 1, 1, 1],
                                2: [1, 1, 2, 1, 1, 1],
                                3: [1, 1, 1, 2, 1, 1],
                                4: [1, 1, 1, 1, 2, 1],
                                5: [1, 1, 1, 1, 1, 2]
                            }
                            obj.animation_frame++;
                            if (obj.animation_frame > 5) { obj.animation_frame = 0; }
                        } else if (obj.current_round === 2) {
                            animationFrames = {
                                0: [2, 1, 1, 2, 1, 1],
                                1: [1, 2, 1, 1, 2, 1],
                                2: [1, 1, 2, 1, 1, 2],
                            }
                            obj.animation_frame++;
                            if (obj.animation_frame > 2) { obj.animation_frame = 0; }
                        } else if (obj.current_round === 3) {
                            animationFrames = {
                                0: [2, 1, 2, 1, 2, 1],
                                1: [1, 2, 1, 2, 1, 2],
                            }
                            obj.animation_frame++;
                            if (obj.animation_frame > 1) { obj.animation_frame = 0; }
                        } else if (obj.current_round === 4) {
                            animationFrames = {
                                0: [1, 2, 2, 1, 2, 2],
                                1: [2, 1, 2, 2, 1, 2],
                                2: [2, 2, 1, 2, 2, 1],
                            }
                            obj.animation_frame++;
                            if (obj.animation_frame > 2) { obj.animation_frame = 0; }
                        } else {
                            animationFrames = {
                                0: [3, 0, 0, 0, 0, 0],
                                1: [3, 0, 0, 0, 0, 0],
                                2: [3, 3, 0, 0, 0, 0],
                                3: [3, 3, 0, 0, 0, 3],
                                4: [3, 3, 3, 0, 0, 3],
                                5: [3, 3, 3, 0, 0, 3],
                                6: [0, 3, 3, 3, 0, 3],
                                7: [0, 3, 3, 3, 0, 3],
                                8: [0, 0, 3, 3, 3, 0],
                                9: [0, 0, 3, 3, 3, 0],
                                10: [0, 0, 0, 3, 3, 0],
                                11: [0, 0, 0, 3, 3, 0],
                                12: [0, 0, 0, 0, 3, 0],
                                13: [0, 0, 0, 0, 3, 0],
                                14: [0, 0, 0, 0, 3, 0],
                            };
                            obj.animation_frame++;
                            if (obj.animation_frame > 14) {
                                obj.animation_frame = 0;
                            }
                        }
                        obj.setLights(animationFrames[animation_frame][0], animationFrames[animation_frame][1],
                            animationFrames[animation_frame][2], animationFrames[animation_frame][3],
                            animationFrames[animation_frame][4], animationFrames[animation_frame][5]);
                        obj.animateLights(obj.animation_frame);
                    }, (obj.current_round < 5) ? 200 : 50);
                }
            },
            animateChosenHatch(animation_frame) {
                let obj = this;
                if (this.animation_waiting_started) {
                    setTimeout(() => {
                        let animationFrames = [1, 2, 3];
                        obj.animation_frame++;
                        if (obj.animation_frame > 3) { obj.animation_frame = 0; }
                        if (obj.chosen_hatch - 1 === 0) {
                            obj.setLights(animationFrames[animation_frame], 0, 0, 0, 0, 0);
                        }
                        if (obj.chosen_hatch - 1 === 1) {
                            obj.setLights(0, animationFrames[animation_frame], 0, 0, 0, 0);
                        }
                        if (obj.chosen_hatch - 1 === 2) {
                            obj.setLights(0, 0, animationFrames[animation_frame], 0, 0, 0);
                        }
                        if (obj.chosen_hatch - 1 === 3) {
                            obj.setLights(0, 0, 0, animationFrames[animation_frame], 0, 0);
                        }
                        if (obj.chosen_hatch - 1 === 4) {
                            obj.setLights(0, 0, 0, 0, animationFrames[animation_frame], 0);
                        }
                        if (obj.chosen_hatch - 1 === 5) {
                            obj.setLights(0, 0, 0, 0, 0, animationFrames[animation_frame]);
                        }
                        obj.animateChosenHatch(obj.animation_frame);
                    }, 250);
                }
            },
            giveMeAResult() {
                axios.post('/online/game/api/ping', {
                    player: this.player_data.player_id,
                    sessid: this.player_data.session_data
                }).then(response => {
                }).catch(error => {
                    window.location.href = '/online';
                });

                this.waiting_for_result = true;
                this.animation_waiting_started = true;
                this.animation_frame = 0;
                this.can_choose_hatch = false;
                this.animateChosenHatch(this.animation_frame);
                this.hint = 'Ждём решения фортуны…';
                let obj = this;
                let openHatchesTimeout = Math.round(3000 + (5000 * Math.random()));
                let animationStopTimeout = openHatchesTimeout - 300;
                setTimeout(() => {
                    obj.animation_waiting_started = false;
                }, animationStopTimeout);
                setTimeout(() => {
                    obj.openHatches();
                    obj.animation_frame = 0;
                    obj.openHatchesAnimation();
                    obj.actions_available = false;
                }, openHatchesTimeout);
            },
            openHatchesAnimation() {
                let obj = this;
                if (this.animation_frame < 29) {
                    setTimeout(() => {
                        obj.animation_frame++;

                        let hatch1 = (obj.current_hatches[0] === 1) ? obj.animation_frame + 1 : 1;
                        let hatch2 = (obj.current_hatches[1] === 1) ? obj.animation_frame + 1 : 1;
                        let hatch3 = (obj.current_hatches[2] === 1) ? obj.animation_frame + 1 : 1;
                        let hatch4 = (obj.current_hatches[3] === 1) ? obj.animation_frame + 1 : 1;
                        let hatch5 = (obj.current_hatches[4] === 1) ? obj.animation_frame + 1 : 1;
                        let hatch6 = (obj.current_hatches[5] === 1) ? obj.animation_frame + 1 : 1;

                        obj.setHatchesStates(hatch1, hatch2, hatch3, hatch4, hatch5, hatch6);
                        obj.openHatchesAnimation();
                    }, 15);
                }
            },
            openHatches() {
                let obj = this;
                let check_hatch = this.chosen_hatch - 1;
                this.hint = '';

                this.setLights(
                    (this.current_hatches[0] === 1) ? 0 : obj.light_states[0],
                    (this.current_hatches[1] === 1) ? 0 : obj.light_states[1],
                    (this.current_hatches[2] === 1) ? 0 : obj.light_states[2],
                    (this.current_hatches[3] === 1) ? 0 : obj.light_states[3],
                    (this.current_hatches[4] === 1) ? 0 : obj.light_states[4],
                    (this.current_hatches[5] === 1) ? 0 : obj.light_states[5],
                );

                this.chosen_hatch = 0;

                if (this.current_hatches[check_hatch] === 1) {
                    bg.pause();
                    bg = new Audio('/files/online/rr_fall.ogg');
                    bg.volume = 0.35;
                    if (!obj.mute_audio) { bg.play(); }

                    obj.game_started = false;
                    obj.current_money = obj.current_money / 2;
                    if (obj.current_round === 1) { obj.current_money = 1; }
                    if (obj.current_round === 3) { obj.player_takes--; }
                    if (obj.current_round === 4) { obj.player_takes -= 2; }
                    if (obj.current_round === 5) { obj.player_takes -= 5; }

                    let curDate = new Date();
                    let ctrlDateStr = curDate.getUTCFullYear() + '' + ((curDate.getUTCMonth() < 10) ? '0' : '') + (curDate.getUTCMonth() + 1) + ((curDate.getUTCDate() < 10) ? '0' : '') + curDate.getUTCDate() + ((curDate.getUTCHours() < 10) ? '0' : '') + curDate.getUTCHours() + ((curDate.getUTCMinutes() < 10) ? '0' : '') + curDate.getUTCMinutes();

                    axios.post('/online/game/api/complete_game', {
                        money: obj.current_money,
                        result: 'lose',
                        win_money: obj.current_money,
                        lose_money: obj.current_money,
                        player: obj.player_data.player_id,
                        sessid: obj.player_data.session_data,
                        checkword: md5(md5(obj.current_money + '__lose__-_' + obj.current_money + '_' + obj.current_money + '~' + obj.player_data.player_id) + '___' + md5(obj.player_data.player_id + '_' + obj.current_money + '_' + obj.current_money + '_lose_' + obj.current_money))
                    }).then(response => {
                        /*if (response.data.status === 'success') {
                            console.log('success');
                        }*/
                        obj.player_takes--;
                    });

                    setTimeout(() => {
                        obj.setLights(
                            (this.current_hatches[0] === 1) ? 0 : 2,
                            (this.current_hatches[1] === 1) ? 0 : 2,
                            (this.current_hatches[2] === 1) ? 0 : 2,
                            (this.current_hatches[3] === 1) ? 0 : 2,
                            (this.current_hatches[4] === 1) ? 0 : 2,
                            (this.current_hatches[5] === 1) ? 0 : 2,
                        );
                        bg.pause();
                        bg = new Audio('/files/online/rr_closing.ogg');
                        bg.volume = 0.5;
                        if (!obj.mute_audio) { bg.play(); }
                        obj.actions_available = true;
                    }, 7000);
                } else {
                    bg.pause();
                    bg = new Audio('/files/online/rr_openhole.ogg');
                    bg.volume = 0.35;
                    if (!obj.mute_audio) { bg.play(); }

                    setTimeout(() => {
                        obj.setLights(
                            (obj.current_hatches[0] === 1) ? 0 : ((check_hatch === 0) ? 3 : obj.light_states[0]),
                            (obj.current_hatches[1] === 1) ? 0 : ((check_hatch === 1) ? 3 : obj.light_states[1]),
                            (obj.current_hatches[2] === 1) ? 0 : ((check_hatch === 2) ? 3 : obj.light_states[2]),
                            (obj.current_hatches[3] === 1) ? 0 : ((check_hatch === 3) ? 3 : obj.light_states[3]),
                            (obj.current_hatches[4] === 1) ? 0 : ((check_hatch === 4) ? 3 : obj.light_states[4]),
                            (obj.current_hatches[5] === 1) ? 0 : ((check_hatch === 5) ? 3 : obj.light_states[5]),
                        );

                        obj.waiting_for_result = false;
                        obj.round_passed = true;
                        sfx.pause();
                        sfx = new Audio('/files/online/rr_safe.ogg');
                        if (!obj.mute_audio) { sfx.play(); }
                        obj.current_money += obj.round_awards[obj.current_round];

                        setTimeout(() => {
                            bg.pause();
                            if (obj.current_round !== 5) {
                                if (obj.current_round < 3) {
                                    bg = new Audio('/files/online/rr_bg1.ogg');
                                } else if (obj.current_round < 5) {
                                    bg = new Audio('/files/online/rr_bg2.ogg');
                                }
                                bg.volume = 0.35;
                                if (!obj.mute_audio) { bg.play(); }
                                obj.actions_available = true;
                            } else {
                                obj.actions_available = true;
                                obj.takeTheMoney();
                            }
                        }, 4000);
                    }, 750);
                }
            }
        },

        filters: {
            convertNumber: function(value, withCurrency) {
                let millions = Math.floor(value / 1000000);
                let thousands = Math.floor((value - millions * 1000000) / 1000);
                let other = Math.floor(value % 1000);

                let str = '';
                if (millions > 0) {
                    str += millions + ' ';
                }
                if ((thousands >= 0 && millions > 0) || thousands > 0) {
                    if (millions > 0) {
                        if (thousands >= 100) {
                            str += thousands + ' ';
                        }
                        else if (thousands >= 10 && thousands <= 99) {
                            str += '0' + thousands + ' ';
                        }
                        else {
                            str += '00' + thousands + ' ';
                        }
                    } else {
                        str += thousands + ' ';
                    }
                }
                if (other >= 0) {
                    if ((millions > 0 && thousands >= 0) || thousands > 0) {
                        if (other >= 100) {
                            str += other;
                        }
                        else if (other >= 10 && other <= 99) {
                            str += '0' + other;
                        }
                        else {
                            str += '00' + other;
                        }
                    } else {
                        str += other;
                    }
                }

                if (withCurrency) { str += ' ₽'; }

                return str;
            }
        }
    }
</script>

<style scoped>

</style>