@font-face
  font-family: 'Montserrat'
  src: url(../fonts/mntsr-r.ttf)
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Montserrat'
  src: url(../fonts/mntsr-i.ttf)
  font-weight: normal
  font-style: italic

@font-face
  font-family: 'Montserrat'
  src: url(../fonts/mntsr-b.ttf)
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'Montserrat'
  src: url(../fonts/mntsr-bi.ttf)
  font-weight: bold
  font-style: italic

body
  font-family: 'Montserrat', sans-serif
  background: url(../img/bg.jpg)
  background-attachment: fixed
  color: #ffffff
  font-weight: normal
  margin: 0
  font-size: 14px

header
  position: fixed
  top: 0
  left: 0
  width: 100%

.wrapper
  margin-top: 60px

.container
  width: 75%
  margin: 0 auto

.full-height
  height: 100vh

.flex-center
  align-items: center
  display: flex
  justify-content: center

.position-ref
  position: relative

.top-right
  position: absolute
  right: 10px
  top: 18px

.content
  text-align: center

.title
  font-size: 84px

.links
  width: 100%
  background: url(../img/menu-bg.jpg) center
  border-top: 2px ridge darkred
  border-bottom: 2px ridge darkred
  a
    color: #ee0000
    padding: 12.5px 25px
    font-size: 12px
    font-weight: bold
    display: inline-block
    letter-spacing: .1rem
    text-decoration: none
    text-transform: uppercase
    border-bottom: 1px solid transparent
    transition: all .3s ease
    -webkit-transition: all .3s ease
    &:hover
      color: #ffffff
    &.logo
      padding: 0
      vertical-align: middle
    &.chosen
      color: #ff7272
      border-color: white
  .menu
    display: inline-block
    vertical-align: middle
    &__mobile-toggle
      display: none
      position: fixed
      top: 15px
      right: 13.5%
      width: 20px
      span
        background: #ea0000
        display: block
        height: 2px
        margin-bottom: 4px
        transition: all .3s ease
      &.open
        span
          background: #dddddd
          &:nth-child(1)
            transform: rotate(45deg) translateX(2px) translateY(-2px)
            transform-origin: left
          &:nth-child(2)
            opacity: 0
          &:nth-child(3)
            transform: rotate(-45deg) translateY(3px)
            transform-origin: left

.m-b-md
  margin-bottom: 30px

.news__panel
  background: rgba(25, 25, 25, 0.5)
  border-radius: 8px
  padding: 10px 25px
  margin-top: 20px
  &-title
    font-size: 36px
    margin: 0
    border-bottom: 1px solid #c30000
    color: #ffffff
    font-weight: 600
    text-decoration: none
    display: block
  &-specs
    margin: 8px 2px
    color: #ababab
    div
      display: inline-block
      vertical-align: middle
      width: 15vw
  &-text
    margin: 10px 2px
  &-link
    color: #ee0000
    font-weight: 600
    text-transform: uppercase
    text-decoration: none
    letter-spacing: 1px
    margin-left: 2px
    border-bottom: 1px solid transparent
    transition: .3s ease
    -webkit-transition: .3s ease
    &:hover
      color: #fff
      border-color: #ee0000

.quick_actions__row
  margin-top: 20px
  display: flex
  -ms-flex: 1 3
  flex: 1 3
  .col-4
    width: 33%
  .col-6
    width: 50%
  .quick_action
    background: rgba(74, 0, 0, 0.5)
    margin: 0 10px
    border-radius: 8px
    padding: 10px 27px
    transition: all .3s ease
    -webkit-transition: all .3s ease
    &__link
      font-size: 24px
      color: #fff
      text-decoration: none
      text-transform: uppercase
      letter-spacing: 2px
      font-weight: 600
      border-bottom: 1px solid transparent
      margin-bottom: 2px
      display: inline-block
      transition: all .3s ease
      -webkit-transition: all .3s ease
      &:hover
        border-color: #aaa
    &__description
      color: #989898
      letter-spacing: 1px
      text-transform: lowercase
    &__more
      color: #ee0000
      text-decoration: none
      margin: 10px 0
      display: inline-block
      text-transform: uppercase
      letter-spacing: 1px
      font-weight: 600
      border-bottom: 1px solid #333
      transition: all .3s ease
      -webkit-transition: all .3s ease
      &:hover
        border-color: red
    &:nth-child(1)
      margin-left: 0
    &:nth-last-child(1)
      margin-right: 0
    &:hover
      background: rgba(74, 0, 0, 0.75)
      .quick_action__more
        color: #ff7272

.page__inner
  background: rgba(0, 0, 0, 0.75)
  border-radius: 8px
  padding: 15px
  &_title
    font-size: 2.5em
    border-bottom: 1px solid #ca0000
  &_content
    a
      color: #ea0000
      text-decoration: none
      transition: all .3s ease
      -webkit-transition: all .3s ease
      &:hover
        color: #ff8e8e
        text-decoration: underline

ul.pagination
  display: table
  list-style-type: none
  margin: 20px auto
  padding: 0
  width: 20%
  li
    display: table-cell
    text-align: center
    background: rgba(70, 70, 70, 0.5)
    padding: 5px 10px
    font-weight: 600
    transition: all .3s ease
    -webkit-transition: all .3s ease
    a
      text-decoration: none
      color: #dddddd
      display: block
      transition: all .3s ease
      -webkit-transition: all .3s ease
    &:hover
      background: rgba(90, 90, 90, 0.75)
      a
        color: black
    &.disabled
      background: rgba(20, 20, 20, 0.5)
      color: gray
    &.active
      background: rgba(210, 0, 0, 0.75)
    &:nth-child(1)
      border-radius: 4px 0 0 4px
    &:nth-last-child(1)
      border-radius: 0 4px 4px 0

a.download__button
  background: #444444
  padding: 3px 10px
  color: white
  text-transform: uppercase
  letter-spacing: 1px
  font-weight: 600
  text-decoration: none
  border-radius: 8px
  border-bottom: 2px solid #222222
  transition: all .3s ease
  -webkit-transition: all .3s ease
  &:hover
    background: #009900
    border-color: #003300

.error__block
  display: flex
  &_code
    font-size: 9em
    font-weight: 600
    letter-spacing: 6px
    color: #ea0000
  &_text
    margin-left: 10px
    &-title
      font-size: 3em
      text-transform: uppercase
      margin: 22px 0 0 0
      letter-spacing: 2px
    &-description
      font-size: 16px

.attention_highlight
  background: #740A05
  padding: 0 5px
  margin-right: 5px
  font-weight: bold

footer
  color: #888888
  font-weight: 600
  margin: 20px 0
  text-transform: uppercase
  letter-spacing: 1px
  .footer__item
    display: inline-block
    &:after
      content: "|"
      color: #888888
      margin: 0 10px
    &:nth-last-child(1)
      &:after
        content: none
  a.footer__item
    color: #888888
    text-decoration: none
    transition: all .3s ease
    -webkit-transition: all .3s ease
    &:hover
      color: #dddddd

@media screen and (max-width: 1023px)
  header
    .menu
      position: fixed
      top: 44px
      left: 12.5%
      display: block !important
      background: black
      width: 75%
      overflow: hidden
      height: 0
      transition: all .3s ease
      -webkit-transition: all .3s ease
      &.opened
        height: 123px
        border-bottom: 1px inset red
      a
        display: block
        border-bottom: none !important
        border-left: 1px solid transparent
      &__mobile-toggle
        display: block !important
  .news__panel
    &-title
      font-size: 2em
    &-specs
      div
        width: 40vw
  .quick_actions__row
    flex-direction: column
    .col-m-12
      width: initial
    .quick_action
      margin: 5px 0
  footer
    .container
      text-align: center
    .footer__item
      font-size: 12px

@media screen and (max-width: 440px)
  .container
    width: 90%
  header
    .menu
      left: 5%
      width: 90%
      &__mobile-toggle
        right: 7.5% !important
  .page__inner_title
    font-size: 2em
  .news__panel-specs
    div
      width: 100%
      margin-bottom: 10px
  footer
    .footer__item
      margin-bottom: 3px
      display: block
      &:after
        content: none