@font-face {
  font-family: "Montserrat";
  src: url(../fonts/mntsr-r.ttf);
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/mntsr-i.ttf);
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/mntsr-b.ttf);
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/mntsr-bi.ttf);
  font-weight: bold;
  font-style: italic; }
body {
  font-family: "Montserrat", sans-serif;
  background: url(../img/bg.jpg);
  background-attachment: fixed;
  color: #ffffff;
  font-weight: normal;
  margin: 0;
  font-size: 14px; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }

.wrapper {
  margin-top: 60px; }

.container {
  width: 75%;
  margin: 0 auto; }

.full-height {
  height: 100vh; }

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center; }

.position-ref {
  position: relative; }

.top-right {
  position: absolute;
  right: 10px;
  top: 18px; }

.content {
  text-align: center; }

.title {
  font-size: 84px; }

.links {
  width: 100%;
  background: url(../img/menu-bg.jpg) center;
  border-top: 2px ridge darkred;
  border-bottom: 2px ridge darkred; }
  .links a {
    color: #ee0000;
    padding: 12.5px 25px;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease; }
    .links a:hover {
      color: #ffffff; }
    .links a.logo {
      padding: 0;
      vertical-align: middle; }
    .links a.chosen {
      color: #ff7272;
      border-color: white; }
  .links .menu {
    display: inline-block;
    vertical-align: middle; }
    .links .menu__mobile-toggle {
      display: none;
      position: fixed;
      top: 15px;
      right: 13.5%;
      width: 20px; }
      .links .menu__mobile-toggle span {
        background: #ea0000;
        display: block;
        height: 2px;
        margin-bottom: 4px;
        transition: all 0.3s ease; }
      .links .menu__mobile-toggle.open span {
        background: #dddddd; }
        .links .menu__mobile-toggle.open span:nth-child(1) {
          transform: rotate(45deg) translateX(2px) translateY(-2px);
          transform-origin: left; }
        .links .menu__mobile-toggle.open span:nth-child(2) {
          opacity: 0; }
        .links .menu__mobile-toggle.open span:nth-child(3) {
          transform: rotate(-45deg) translateY(3px);
          transform-origin: left; }

.m-b-md {
  margin-bottom: 30px; }

.news__panel {
  background: rgba(25, 25, 25, 0.5);
  border-radius: 8px;
  padding: 10px 25px;
  margin-top: 20px; }
  .news__panel-title {
    font-size: 36px;
    margin: 0;
    border-bottom: 1px solid #c30000;
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
    display: block; }
  .news__panel-specs {
    margin: 8px 2px;
    color: #ababab; }
    .news__panel-specs div {
      display: inline-block;
      vertical-align: middle;
      width: 15vw; }
  .news__panel-text {
    margin: 10px 2px; }
  .news__panel-link {
    color: #ee0000;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    margin-left: 2px;
    border-bottom: 1px solid transparent;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease; }
    .news__panel-link:hover {
      color: #fff;
      border-color: #ee0000; }

.quick_actions__row {
  margin-top: 20px;
  display: flex;
  -ms-flex: 1 3;
  flex: 1 3; }
  .quick_actions__row .col-4 {
    width: 33%; }
  .quick_actions__row .col-6 {
    width: 50%; }
  .quick_actions__row .quick_action {
    background: rgba(74, 0, 0, 0.5);
    margin: 0 10px;
    border-radius: 8px;
    padding: 10px 27px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease; }
    .quick_actions__row .quick_action__link {
      font-size: 24px;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 600;
      border-bottom: 1px solid transparent;
      margin-bottom: 2px;
      display: inline-block;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease; }
      .quick_actions__row .quick_action__link:hover {
        border-color: #aaa; }
    .quick_actions__row .quick_action__description {
      color: #989898;
      letter-spacing: 1px;
      text-transform: lowercase; }
    .quick_actions__row .quick_action__more {
      color: #ee0000;
      text-decoration: none;
      margin: 10px 0;
      display: inline-block;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 600;
      border-bottom: 1px solid #333;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease; }
      .quick_actions__row .quick_action__more:hover {
        border-color: red; }
    .quick_actions__row .quick_action:nth-child(1) {
      margin-left: 0; }
    .quick_actions__row .quick_action:nth-last-child(1) {
      margin-right: 0; }
    .quick_actions__row .quick_action:hover {
      background: rgba(74, 0, 0, 0.75); }
      .quick_actions__row .quick_action:hover .quick_action__more {
        color: #ff7272; }

.page__inner {
  background: rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  padding: 15px; }
  .page__inner_title {
    font-size: 2.5em;
    border-bottom: 1px solid #ca0000; }
  .page__inner_content a {
    color: #ea0000;
    text-decoration: none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease; }
    .page__inner_content a:hover {
      color: #ff8e8e;
      text-decoration: underline; }

ul.pagination {
  display: table;
  list-style-type: none;
  margin: 20px auto;
  padding: 0;
  width: 20%; }
  ul.pagination li {
    display: table-cell;
    text-align: center;
    background: rgba(70, 70, 70, 0.5);
    padding: 5px 10px;
    font-weight: 600;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease; }
    ul.pagination li a {
      text-decoration: none;
      color: #dddddd;
      display: block;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease; }
    ul.pagination li:hover {
      background: rgba(90, 90, 90, 0.75); }
      ul.pagination li:hover a {
        color: black; }
    ul.pagination li.disabled {
      background: rgba(20, 20, 20, 0.5);
      color: gray; }
    ul.pagination li.active {
      background: rgba(210, 0, 0, 0.75); }
    ul.pagination li:nth-child(1) {
      border-radius: 4px 0 0 4px; }
    ul.pagination li:nth-last-child(1) {
      border-radius: 0 4px 4px 0; }

a.download__button {
  background: #444444;
  padding: 3px 10px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 8px;
  border-bottom: 2px solid #222222;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease; }
  a.download__button:hover {
    background: #009900;
    border-color: #003300; }

.error__block {
  display: flex; }
  .error__block_code {
    font-size: 9em;
    font-weight: 600;
    letter-spacing: 6px;
    color: #ea0000; }
  .error__block_text {
    margin-left: 10px; }
    .error__block_text-title {
      font-size: 3em;
      text-transform: uppercase;
      margin: 22px 0 0 0;
      letter-spacing: 2px; }
    .error__block_text-description {
      font-size: 16px; }

footer {
  color: #888888;
  font-weight: 600;
  margin: 20px 0;
  text-transform: uppercase;
  letter-spacing: 1px; }
  footer .footer__item {
    display: inline-block; }
    footer .footer__item:after {
      content: "|";
      color: #888888;
      margin: 0 10px; }
    footer .footer__item:nth-last-child(1):after {
      content: none; }
  footer a.footer__item {
    color: #888888;
    text-decoration: none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease; }
    footer a.footer__item:hover {
      color: #dddddd; }

@media screen and (max-width: 1023px) {
  header .menu {
    position: fixed;
    top: 44px;
    left: 12.5%;
    display: block !important;
    background: black;
    width: 75%;
    overflow: hidden;
    height: 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease; }
    header .menu.opened {
      height: 123px;
      border-bottom: 1px inset red; }
    header .menu a {
      display: block;
      border-bottom: none !important;
      border-left: 1px solid transparent; }
    header .menu__mobile-toggle {
      display: block !important; }

  .news__panel-title {
    font-size: 2em; }
  .news__panel-specs div {
    width: 40vw; }

  .quick_actions__row {
    flex-direction: column; }
    .quick_actions__row .col-m-12 {
      width: initial; }
    .quick_actions__row .quick_action {
      margin: 5px 0; }

  footer .container {
    text-align: center; }
  footer .footer__item {
    font-size: 12px; } }
@media screen and (max-width: 440px) {
  .container {
    width: 90%; }

  header .menu {
    left: 5%;
    width: 90%; }
    header .menu__mobile-toggle {
      right: 7.5% !important; }

  .page__inner_title {
    font-size: 2em; }

  .news__panel-specs div {
    width: 100%;
    margin-bottom: 10px; }

  footer .footer__item {
    margin-bottom: 3px;
    display: block; }
    footer .footer__item:after {
      content: none; } }

/*# sourceMappingURL=main.css.map */
