.online {
  &__app {
    display: flex;
    height: 85vh;
    align-items: center;
    justify-content: center;

    &__no-takes {
      position: absolute;
      background: #000000c2;
      top: 0;
      left: 0;
      z-index: 100;
      height: 100vh;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      backdrop-filter: blur(5px);

      &__inner {
        text-align: center;

        h3 {
          font-size: 1.5rem;
        }
      }
    }

    &__payment {
      position: absolute;
      z-index: 150;
      background: #000000d4;
      padding: 2rem 4rem;
      box-shadow: 0 0 0 5px rgb(255 118 0 / 25%);
    }

    &__congrats {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: none;

      &.show {
        display: block;
      }
    }

    &__join {
      width: 20%;
      border-radius: 0;
      background: #353535;
      background: -moz-linear-gradient(-45deg, #353535 2%, #000000 25%, #2d2d2d 40%, #191919 60%, #000000 75%, #000000 75%, #000000 100%);
      background: -webkit-linear-gradient(-45deg, #353535 2%,#000000 25%,#2d2d2d 40%,#191919 60%,#000000 75%,#000000 75%,#000000 100%);
      background: linear-gradient(135deg, #353535 2%,#000000 25%,#2d2d2d 40%,#191919 60%,#000000 75%,#000000 75%,#000000 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353535', endColorstr='#000000',GradientType=1 );
      border: 1px solid transparent;
      border-bottom: 1px solid #262626;
      color: white !important;
      padding: 10px;
      display: inline-block;

      &:hover {
        border-color: darkred;
        text-decoration: none !important;
      }
    }

    &__button {
      width: 100%;
      -webkit-appearance: none;
      background: black;
      border: 0;
      border-bottom: 2px solid #111111;
      border-radius: 5px;
      font-family: 'Montserrat';
      color: white;
      padding: 5px;
      margin-bottom: .25em;
      transition: all .25s ease;
      outline: none;

      &:hover {
        border-color: darkred;
        background: #111111;
        cursor: pointer;
      }
    }

    &__actions {
      min-height: 7.5rem;
      background: rgba(0,0,0,0.75);
      padding: 5%;
      border-top: 2px ridge darkred;
      border-bottom: 2px ridge darkred;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &__hint {
        font-size: 0.75rem;
        text-align: center;
        color: #f7f7f7;
      }
    }

    &__first {
      width: 20%;
      margin-right: 5%;
    }

    &__settings {
      margin: 10px 0;
      text-align: center;
      display: flex;
      font-size: 0.85em;
    }

    &__tree {
      width: 100%;
      //margin-right: 5%;
      background: rgba(0, 0, 0, 0.85);
      border-top: 2px ridge darkred;
      border-bottom: 2px ridge darkred;

      &__item {
        display: flex;
        border-bottom: 1px solid #444444;
        padding: 2.5%;
        align-items: center;

        &:nth-last-child(1) {
          border-bottom: none;
        }

        &_round {
          width: 50%;
        }

        &_award {
          width: 50%;
          text-align: right;
          font-family: 'dauphinn';
          font-size: 1.25em;
          line-height: 1em;
        }

        &.current {
          background: gold;
          color: black;
        }

        &.passed {
          color: #00e600;
          background: none;
        }

        &.failed {
          background: darkred;
          color: #460000;
        }
      }
    }

    &__top {
      width: 100%;
      margin-top: 2em;
      background: rgba(0,0,0,0.85);
      border-top: 2px ridge darkred;
      border-bottom: 2px ridge darkred;

      &__header {
        text-align: center;
        padding: 5px;
        background: #520000;
        font-weight: bold;
      }

      &__item {
        display: flex;
        padding: 3px 5px;
        align-items: center;

        &_pos {
          width: 15%;
          text-align: center;
        }

        &_name {
          display: flex;
          align-items: center;
          width: 50%;

          &-img {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            border: 1px solid darkred;
            margin-right: 5%;
          }

          &-inner {
            color: #d2d2d2;
          }
        }

        &_pts {
          width: 45%;
          text-align: right;
          font-family: 'dauphinn';
          font-size: 1.25em;
        }

        &.current {
          background: goldenrod;
          color: black;

          .online__app__top__item_name-inner {
            color: black;
            font-weight: bold;
          }
        }

        &.fall {
          border-bottom: 2px ridge darkgoldenrod;
        }
      }
    }

    &__revolver {
      height: 450px;
      width: 450px;
      background: url(../img/online/place_main.png);
      background-repeat: no-repeat;
      background-position: center;
      position: relative;

      &.dark {
        background: url(../img/online/place_main_dark.png);
        background-repeat: no-repeat;
        background-position: center;

        .online__app__revolver__hatch {
          mix-blend-mode: normal;
        }
      }

      &.red {
        background: url(../img/online/place_main_red.png);
        background-repeat: no-repeat;
        background-position: center;

        .online__app__revolver__hatch {
          mix-blend-mode: hard-light;
        }
      }

      &__hatch-base {
        background: transparent;
        position: absolute;
        height: 110px;
        width: 110px;

        &_1 {
          background-image: url(../img/online/place_hatch_1.png);
          background-repeat: no-repeat;
          background-position: 0 0;
          top: 55%;
          left: 8.5%;

          &.red {
            background-image: url(../img/online/place_hatch_1_red.png);
          }
        }

        &_2 {
          background-image: url(../img/online/place_hatch_2.png);
          background-repeat: no-repeat;
          background-position: 0 0;
          top: 21%;
          left: 8%;

          &.red {
            background-image: url(../img/online/place_hatch_2_red.png);
          }
        }

        &_3 {
          background-image: url(../img/online/place_hatch_3.png);
          background-repeat: no-repeat;
          background-position: 0 0;
          top: 3.5%;
          left: 37.5%;

          &.red {
            background-image: url(../img/online/place_hatch_3_red.png);
          }
        }

        &_4 {
          background-image: url(../img/online/place_hatch_4.png);
          background-repeat: no-repeat;
          background-position: 0 0;
          top: 20.5%;
          left: 67%;

          &.red {
            background-image: url(../img/online/place_hatch_4_red.png);
          }
        }

        &_5 {
          background-image: url(../img/online/place_hatch_5.png);
          background-repeat: no-repeat;
          background-position: 0 0;
          top: 54.5%;
          left: 67.5%;

          &.red {
            background-image: url(../img/online/place_hatch_5_red.png);
          }
        }

        &_6 {
          background-image: url(../img/online/place_hatch_6.png);
          background-repeat: no-repeat;
          background-position: 0 0;
          top: 72%;
          left: 38%;

          &.red {
            background-image: url(../img/online/place_hatch_6_red.png);
          }
        }

        @for $i from 1 through 30 {
          &[data-frame^="#{$i}"] {
            $x: ($i - 1) % 6 * -110;
            $y: floor(($i - 1) / 6) * -110;

            background-position: #{$x}px #{$y}px;
          }
        }
      }

      &__hatch {
        display: block;
        background: rgb(0, 149, 255);
        box-shadow: 0 0 10px 5px rgb(18, 105, 255);
        height: 110px;
        width: 110px;
        position: absolute;
        z-index: 10;
        border-radius: 50%;
        mix-blend-mode: overlay;
        transition: all .25s ease;
        -webkit-transition: all .25s ease;

        &_1 {
          top: 55%;
          left: 8.5%
        }

        &_2 {
          top: 21%;
          left: 8%;
        }

        &_3 {
          top: 3.5%;
          left: 37.5%;
        }

        &_4 {
          top: 20.5%;
          left: 67%;
        }

        &_5 {
          top: 54.5%;
          left: 67.5%;
        }

        &_6 {
          top: 72%;
          left: 38%;
        }

        &.white {
          background: #ffffff;
          box-shadow: 0 0 10px 5px #ffffff;
        }

        &.red {
          background: #ff0000;
          box-shadow: 0 0 10px 5px #ff0000;
        }

        &.off {
          opacity: 0;
        }

        &:hover {
          cursor: pointer;
        }

        &[disabled="disabled"] {
          cursor: not-allowed;
        }
      }
    }

    &__player {
      width: 20%;
      margin-left: 5%;

      &__takes {
        background: #000;
        width: 80%;
        padding: .5rem;
        margin: 0 auto;
        margin-bottom: 2em;
        border-radius: 12px;
        border: 2px solid #fff;
        -webkit-box-shadow: 0 0 0 5px hsl(0deg 0% 100% / 25%);
        box-shadow: 0 0 0 5px hsl(0deg 0% 100% / 25%);
        position: relative;
        overflow: hidden;

        &-count {
          display: flex;
          justify-content: space-between;
          align-items: center;

          span {
            font-family: 'Dauphinn';
            font-size: 1.5rem;
          }
        }

        &-buy {
          text-decoration: none;
          width: 80%;
          display: block;
          margin: auto;
          text-align: center;
          background: #b75d00;

          &:hover {
            background: #ffaa2a;
            border-color: darkgoldenrod;
            color: black;
          }
        }
      }

      &__card {
        background: black;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 2em;
        border-radius: 12px;
        border: 2px solid white;
        box-shadow: 0 0 0px 5px rgba(255,255,255,0.25);
        position: relative;
        overflow: hidden;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          width: 100%;
          left: 0;
          background: linear-gradient(180deg, black, transparent);
          height: 20%;
        }
      }

      &__name {
        padding: 5px 12px;
        font-weight: bold;
        position: absolute;
        top: 0;
        left: 0;
      }

      &__avatar {
        height: 250px;
        background-size: cover;
        background-position: center;
      }

      &__winnings {
        background: url(../img/online/money_holder.png);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 14px;
        border: 3px solid white;
        padding: 5px 5px 10px 5px;
        font-family: 'Dauphinn';
        font-size: 32px;
        text-shadow: 0 1px 1px black;
        line-height: 20px;
        text-align: center;
        position: absolute;
        bottom: 3px;
        left: 1.5%;
        width: 90%;
        box-shadow: inset 0 0 6px black;
      }
    }

    &__payment__options {
      display: flex;
      justify-content: space-between;
    }

    &__payment__option {
      background: rgba(0,0,0,0.75);
      padding: 1rem;
      width: 28%;
      border: 2px solid white;
      border-radius: 12px;
      box-shadow: 0 0 0 5px hsl(0deg 0% 100% / 25%);
      animation: all .25s ease;
      -webkit-animation: all .25s ease;
      cursor: pointer;

      &-title {
        font-size: 1.25rem;
        margin-bottom: .25rem;
      }

      &-description {
        font-size: 0.8rem;
        color: #ccc;
        margin-bottom: .5rem;
      }

      &-sum {
        color: #e10a10;
        font-size: 1.75rem;
        font-weight: bold;
      }

      &.selected {
        border-color: gold;
        box-shadow: 0 0 0 5px hsl(39deg 100% 50% / 25%);
      }
    }

    &__fund {
      margin-top: 2rem;
      text-align: center;
      border-bottom: 2px ridge darkred;
      border-top: 2px ridge darkred;
      background: rgba(0,0,0,.85);

      &__header {
        background: #520000;
        font-weight: 700;
        padding: 5px;
      }

      &__item {
        padding: 0.5rem;
        font-size: 1.5rem;
        color: darkred;

        span {
          font-family: 'Dauphinn';
          font-size: 2rem;
          display: inline-block;
          color: white;
        }
      }
    }
  }
}

.online-player {
  max-width: 600px;
  margin: 2rem auto;
  width: 100%;
  display: flex;
  align-items: center;
  background: #83080573;
  padding: 0.5rem 1rem;
  border-radius: 1rem;

  &__position {
    font-size: 2rem;
    font-family: 'Dauphinn';
    width: 40px;
    text-align: center;
  }

  &__avatar {
    img {
      max-width: 90px;
      max-height: 90px;
      margin-right: 1rem;
      border-radius: 50%;
    }
  }

  &__data {
    &-points {
      white-space: nowrap;
      font-family: 'Dauphinn';
      font-size: 1.5rem;
    }

    &-stats {
      font-size: 0.65rem;
      margin-top: 0.25rem;
      color: #ccc;
    }
  }

  &__reward {
    margin-left: auto;

    span {
      background: linear-gradient(0deg, #ff9900, #ffbc00);
      padding: 0.5rem;
      font-weight: bold;
      color: black;
      border-radius: 1rem;
    }
  }
}

@media screen and (max-width: 1365px) {
  .online__app__first {
    display: none;
  }
}